<br>
<h3>
    <center><%= heading %></center>
</h3>
<br>

<div class="table-responsive-sm table-hover">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="header-center">Kode</th>
                <th scope="col" class="header-center">Nama Gejala</th>
                <th scope="col" class="header-center">MB</th>
                <th scope="col" class="header-center">MD</th>
                <th scope="col" class="header-center"></th>
            </tr>
        </thead>
        <tbody>
            <% gejala.forEach((symptom_list) => { %>
            <tr>
                <div class="item-data">
                    <th scope="row">
                        <center><span class="code-column"><%= symptom_list.kode %></span></center>
                    </th>
                    <td>
                        <span class="name-column"><%= symptom_list.nama_gejala %></span>
                    </td>
                    <td>
                        <center><span class="mb-column"><%= symptom_list.mb %></span></center>
                    </td>
                    <td>
                        <center><span class="md-column"><%= symptom_list.md %></span></center>
                    </td>
                </div>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>