<br>
<h3>
    <center><%= heading %></center>
</h3>
<br>

<div class="table-responsive-sm table-hover">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="header-center">No</th>
                <th scope="col" class="header-center">Nama Siswa</th>
                <th scope="col" class="header-center">Masalah</th>
                <th scope="col" class="header-center">Nilai CF</th>
                <th scope="col" class="header-center">Solusi</th>
                <th scope="col" class="header-center"></th>
            </tr>
        </thead>
        <tbody>
            <% hasil.forEach((result) => { %>
            <tr>
                <div class="item-data">
                    <td scope="row" class="counterCell center"></td>
                    <td>
                        <span class="name-column "><%= result.Nama_Siswa %></span>
                    </td>
                    <td>
                        <center><span class="mb-column center"><%= result.Masalah %></span></center>
                    </td>
                    <td>
                        <center><span class="md-column center"><%= result.Nilai_CF %></span></center>
                    </td>
                    <td>
                        <center><span class="md-column center"><%= result.Solusi %></span></center>
                    </td>
                    <td>
                        <center>
                            <button>Edit</button>
                            <button>Hapus</button>
                        </center>
                    </td>
                </div>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>