<br>
<h3>
    <center><%= heading %></center>
</h3>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 style="text-align: center;">Sistem Pakar Metode CF (Certainty Factor)</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>
</div>

<h4>Nama Siswa: <%= hasil.Nama_Siswa %> </h4>
<br>
<h5>Gejala yang dipilih</h5>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="header-center">Masalah</th>
            <th scope="col" class="header-center">Nilai CF</th>
            <th scope="col" class="header-center">Solusi</th>
            <th scope="col" class="header-center"></th>
        </tr>
    </thead>
    <tbody>
        <% daftar_gejala.forEach((result) => { %>
        <tr>
            <div class="item-data">
                <td>
                    <center><span class="mb-column"><%= result.Masalah %></span></center>
                </td>
                <td>
                    <center><span class="md-column"><%= result.Nilai CF %></span></center>
                </td>
                <td>
                    <center><span class="md-column"><%= result.Solusi %></span></center>
                </td>
            </div>
            <% i++ %>
        </tr>
        <% }); %>
    </tbody>
</table>