<br>
<h3>
    <center><%= heading %></center>
</h3>
<br>

<h4>Nama Siswa: <%= hasil.Nama_Siswa %> </h4>
<br>
<h5>Gejala yang dipilih</h5>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="header-center">Masalah</th>
            <th scope="col" class="header-center">Nilai CF</th>
            <th scope="col" class="header-center">Solusi</th>
            <th scope="col" class="header-center"></th>
        </tr>
    </thead>
    <!-- <tbody>
        <% hasil.forEach((result) => { %>
        <% let i = 1 %>
        <tr>
            <div class="item-data">
                <th scope="row">
                    <center><span class="code-column"><%= i %></span></center>
                </th>
                <td>
                    <center><span class="mb-column"><%= result.Masalah %></span></center>
                </td>
                <td>
                    <center><span class="md-column"><%= result.Nilai CF %></span></center>
                </td>
                <td>
                    <center><span class="md-column"><%= result.Solusi %></span></center>
                </td>
            </div>
            <% i++ %>
        </tr>
        <% }); %>
    </tbody> -->
</table>