<br>
<h3>
    <center><%= heading %></center>
</h3>
<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="header-center">Kode</th>
            <th scope="col" class="header-center">Nama Gejala</th>
            <th scope="col" class="header-center">MB</th>
            <th scope="col" class="header-center">MD</th>
            <th scope="col" class="header-center"></th>
        </tr>
    </thead>
    <tbody>
        <% daftar_gejala.forEach((symptom_list) => { %>
        <tr>
            <div class="item-data"></div>
            <th scope="row">
                <center><span class="code-column"><%= symptom_list.Kode %></span></center>
            </th>
            <td>
                <span class="name-column"><%= symptom_list.Gejala %></span>
            </td>
            <td>
                <center><span class="mb-column"><%= symptom_list.MB %></span></center>
            </td>
            <td>
                <center><span class="md-column"><%= symptom_list.MD %></span></center>
            </td>
            </div>
        </tr>
        <% }) %>
    </tbody>
</table>